body{
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
}

#display{
    position: relative;
    width: 571px;
    height: 248px;
    left: 24px;
    top: 43px;
    background-color: transparent;
    color: white;
    font-size: 150px;
}

.container-calculator{
    position: relative;
    background-color: #3E4C53;
    width: 621px;
    height: 1036px;
    border-radius: 28px;
}

.btn-container{
    position: relative;
    left: 35px;
    top:70px
}

.btn{
    width: 123px;
    height: 123px;
    border-radius: 300px;
    background-color: #D9D9D9;
    font-size: 80px;
    margin-top: 14px;
    color: #50626E;
}

#equal{
    position: relative;
    background-color: #FFD85B;
    height: 534px;
    left: 400px;
    top:-550px
}